* {	
	box-sizing: border-box;
}
	
html {
	background-color: rgb(253, 253, 253);
	font-family: 'Merriweather', serif;
}

body {
	background-color: #d2b48c1a;
}

header h1 {
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	background-color: #2d3a46;
	color: white;
	padding: 22px 0;
	font-weight: normal;
}

header h3 {
	font-weight: bold;
	margin: 0;
	padding: 25px 0 10px;
	text-align: center;
}

header p {
	width: 90%;
	margin: 0 auto;
	font-size: 0.8em;
	text-align: center;
	color: rgb(185, 185, 185);
	padding-bottom: 35px;
}

main {
	width: 90%;
	max-width: 500px;
	margin: auto;
	padding-top: 4px;
	border-top: 4px solid black;
}

main section {
	margin-top: 2px;
}
	
.box-top,
.box-bottom {
	display: flex;
	flex-direction: column;
}

form fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

form fieldset legend {
	width: 100%;
	font-weight: bold;
	font-size: 1.1em;
	border-top: 2.4px solid black;
	padding: 25px 0 7px;
}

.box,
.box-topics {
	display: flex;
	flex-direction: column;
}

.box-check,
.box-radio {
	display: flex;
	flex-direction: row;
	padding-bottom: 15px;
}

form fieldset:nth-of-type(2) p {
	color: #848484;
}

fieldset.box-bottom {
	background-color: #adadad1a;
}

form fieldset label {
	display: block;
	font-size: .9em;
	color: #848484;
	padding-top: 15px;
	padding-bottom: 10px;
}

input[type="submit"] {
	outline-color: #1e5a8fdb;
}

form fieldset input,
textarea {
	width: 100%;
	padding: 14.5px 15px;
	background-color: #7d7d7d1a;
	border-radius: 4px;
	border: none;
	outline-color: #1e5a8fdb;
}

form fieldset input:focus,
form fieldset select:focus,
textarea:focus {
	background-color: rgb(255, 255, 255);
	transition: background-color 1.3s;
}

form fieldset select {
	padding-left: 10px;
	font-size: .85em;
	width: 100%;
	padding: 14.5px 15px;
	background-color: #7d7d7d1a;
	border-radius: 4px;
	border: none;
	outline-color: #1e5a8fdb;
}

select option {
color: black;
}

footer {
	font-style: italic;
}

form fieldset input::placeholder {
	font-size: .7em;
	text-align: right;
	padding-right: 5px;
	font-style: italic;
	color: darkgrey;
}

form fieldset textarea::placeholder,
form fieldset select,
select option[value=""],
footer {
	color: darkgrey;
}

form fieldset div:last-child input {
	width: 50%;
}

form fieldset:nth-of-type(2) label {
	display: inline-block;
	font-size: .85em;
	width: calc(100% - 24px);
	padding: 0;
}

form fieldset:nth-of-type(2) p {
	font-size: .85em;
}

form fieldset:nth-of-type(1) {
	padding-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"]{
	width: 12px;
	margin-right: 10px;
	vertical-align: middle;
}

form fieldset:nth-of-type(2) label[for="other-topics"] {
	font-size: .85em;
	padding-top: 18px;
}

textarea {
	resize: none;
	height: 90px;
	margin-bottom: 25px;
}

input[type="submit"] {
	font-size: 1.15em;
	font-weight: bold;
	background-color: #51c4b8;
	color: #fff;
	border: none;
	border-radius: 3.9px;
	width: 100%;
	padding: 19px 0;
}

footer {
	text-align: center;
	padding: 15px 0 100px 0;
}

footer p {
	margin: 0;
	padding: 10px 0 25px;
	font-size: .8em;
}




/*--  min-width: 768px screen layout  --*/

@media screen and (min-width: 768px) {
	header p {
		font-size: .75em;
		padding-bottom: 38px;
	}

	main {
		width: 65%;
		max-width: 600px;
	}

	form fieldset legend {
		padding: 35px 0 20px;
	}

	.box {
		flex-direction: row;
	}
	
	form fieldset select,
	form fieldset input {
		width: calc(100% - 124px);
		margin-bottom: 15px;
	}

	form fieldset label {
		display: inline-block;
		font-size: .75em;
		width: 120px;
	}

	form fieldset:nth-of-type(2) p:first-child {
		margin: 0 0 22px;
	}

	form fieldset div:last-child input {
		width: calc(25% - 31px);
	}

	input[type="checkbox"],
	input[type="radio"] {
		margin: 0 10px 0 0;
	}

	form fieldset:nth-of-type(2) label {
		width: calc(100% - 29px);
	}

	input[type="submit"] {
		font-weight: normal;
	}

	footer {
		padding-top: 22px;
	}
}
